.choose{
    background: url(../img/bg/choose.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 12rem;
    padding-bottom: 14rem;
    .container{
        @include flex(row, space-between, center);
    }
}
.choose__info{
    max-width: 540px/1110px*100%;
    .choose__title{
        margin-bottom: 6rem;
    }
    .choose__text{
        margin-bottom: 4rem;
    }
    .choose__btn{
        display: inline-block;
        padding: 3%;
        min-width: 40%;
        letter-spacing: 0.075em;
     }
}
.choose__images{
    max-width: 32%;  
}
.choose__img{
    max-width: 100%;
    &:first-child{
        margin-left:-34%;
        margin-bottom: 0.5rem;
        &:hover {
            animation: hithere 1s ease 1;
            z-index: 2;
        }
    }
    &:hover {
        animation: hithere1 1s ease 1;
        z-index: 2;
    }
}