.feedback{
    background: url(../img/bg/touristSay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 15rem;   
    padding-bottom: 20rem;   
}
.feedback_title{
    text-align: center;
    
}
.feedback__box{
    @include flex(row, center, center);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    background-color: $feedback-color;
    .feedback__image{        
        min-width: 40%;
        object-fit: cover;
    }
    .feedback__info{
        padding: 5rem;
        letter-spacing: 0.2rem;
        .feedback__subtitle{
            margin-bottom: 7%;
        }       
    }
}
.fa-quote-left{
    color: $firm-color;
    font-size: $sub_size;
    transform: translate(0, -1rem);
}