.icons{
    min-height: 33rem;
    display: flex;
    align-items: center;
}
.icons__list{
    justify-content: space-around;
    position: relative;
    &:before,
    &:after{
        content: '';
        position: absolute;
        border-radius: 90%;
        border-top: dotted 2px $main-color;
        width: 30rem;
        height: 18rem;
        top: -60%;
        overflow: hidden;
    }
    &:before{
        left: 20%;
    }
    &:after{
        right: 20%;
    }
    .icons__item{
        text-align: center;                
        .icon{
            width: 6rem;
            height: 6rem;
            margin-bottom: 2.3rem;
            &:hover{
                fill: white;
            }
        }
        .search{
            fill: #5474fd;
        }
        .thumbsup{
            fill: #00a2ff;            
        }
        .tick{
            fill: #ff6363;           
        }
    }
}