@keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
} 
@keyframes mi {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}
@keyframes hithere {
    30% { transform: scale(1); }
    40%, 60% { transform: rotate(-20deg) scale(0.9); }
    50% { transform: rotate(20deg) scale(0.9); }
    70% { transform: rotate(0deg) scale(0.9); }
    100% { transform: scale(1)translate(-34%); }
}
@keyframes hithere1 {
    30% { transform: scale(1) translate(-34%); }
    40%, 60% { transform: rotate(-20deg) scale(0.9)translate(-34%); }
    50% { transform: rotate(20deg) scale(0.9)translate(-34%); }
    70% { transform: rotate(0deg) scale(0.9)translate(-34%); }
    100% { transform: scale(1); }
}