@mixin flex ($direction:column, $justify-content:center, $align:center){
    display:flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: $align;
}
@mixin button ($size:$text_size){
    text-align: center;
    color: $main-color;
    background-color: $firm-color;
    font-family: $Aleo;
    line-height: 2.6rem;
    font-size: $size;
    text-transform: uppercase;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
}