/* font-sizes */
$header-title_size:4.8rem;
$header-sub_size:2.2rem;
$title_size:3.6rem;
$sub_size:2rem;
$text_size:1.6rem;
$small_size:1.4rem;
$logo_size:2.4rem;

/* color */
$main-color:#fff;
$text:#e8e8e8;
$placeholder:#999999;
$firm-color:#5474fd;
$bg-color:#232323;
$feedback-color:#333333;

/* font-family */
$Josefin:'Josefin Sans', sans-serif;
$Aleo:'Aleo', serif;
 
/* hamburger-menu */
$hamburger__height: 42px;
$hamburger__width: 42px;
$hamburger__layer__height: 6px;
